.qz__container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.qz_logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.qz_logo > h3 {
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #a5010f; 
  padding: 15px 30px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #000, 4px 4px 0 #000;
  font-family: 'Impact', 'Arial Black', sans-serif;
}


.qz_questions{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #4224d9;
  color: #330000;
  border-radius: 8px;
  background-color: #644ED2;
  width: 100%;
  height: 200px;
  font-size: 20px;
  font-family: 'Segoe UI';
  margin-bottom: 20px;
}

.qz_options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.btn-option{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #a30045;
  width: 50%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7f6508;
}

.btn-option:hover{
  background-color: #890f43e8;
}

.btn-option:active{
  position: relative;
  top:1px;
}

.qz_results{
  width: 100%;
  height: 350px;
  background-color: #890f43e8;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
